.eventItems{
    display: inline-block;
    flex: row wrap;
    margin: 20px;
    max-width: 300px;
    max-height: 250px;
    justify-content: center;
    border: thin;
    border-style: solid;
    border-radius: 4px;
}

.description {
    border-style: solid;
    border-radius: 4px;
    height: 75px;
    overflow-y: auto;
    margin: 5px;

}

.items{
    margin: 5px;
    /* border-style: dotted; */
    /* color: darkred; */
    text-align: center;
}

.eventText{
    color:  #88490e;
}

.styleBtn{
    border: 2px solid #88490e;
    background-color: white;
    color: black;
    /* padding: 2px 2px; */
    font-size: 16px;
    cursor: pointer;
}

