.eventItems{
    display: inline-block;
    flex: row wrap;
    margin: 20px;
    width: 250px;
    max-height: 200px;
    justify-content: center;
    border: thin;
    border-style: solid;
    border-radius: 4px;
}

.description {
    border-style: solid;
    border-radius: 4px;
    height: 75px;
    overflow-y: auto;
    margin: 5px;

}

.items{
    margin: 5px;
    /* border-style: dotted; */
    /* color: darkred; */
    text-align: center;
}