.eventItems{
    display: inline-block;
    flex: row wrap;
    margin: 20px;
    max-width: 300px;
    max-height: 250px;
    justify-content: center;
    border: 2px #88490e;
    border-style: solid;
    border-radius: 4px;
    background-color: rgb(236, 241, 241);
}

.description {
    border: thin #88490e;
    border-radius: 4px;
    height: 75px;
    overflow-y: auto;
    margin: 12px;

}

.items{
    margin-top: 5px;
    /* border-style: dotted; */
    /* color: darkred; */
    text-align: center;
}

.eventText{
    color:  #88490e;
}

.styleBtn{
    border: 1px solid #88490e;
    background-color: white;
    /* color: black; */
    /* padding: 2px 2px; */
    font-size: 16px;
    cursor: pointer;
}

